# Read in the data

In [2]:
import pandas as pd
df = pd.read_csv("../data/data.csv")

# Data Inspection

In [3]:
df.shape

(326696, 32)

In [4]:
df.columns

Index(['POLICY_NUMBER', 'PRODUCT_CODE', 'PREMIUM', 'INCOME', 'PAYMENT_MODE',
       'STATUS', 'STATUS_DATE', 'COMMENCEMENT_DATE', 'TERM', 'PAYFREQ',
       'ID_DOCUMENT_CODE', 'OCCUPATION_CODE', 'PAYER_DATE_OF_BIRTH', 'GENDER',
       'MARITAL_STATUS', 'TITLE', 'INSURED_ID_DESCRIPTION', 'OCCUPATION_DESC1',
       'INSURED_DATE_OF_BIRTH', 'INSURED_GENDER', 'INSURED_MARITAL_STATUS',
       'INSURED_TITLE', 'PAYPOINT_NAME', 'COMPANY_NAME', 'DATE_OF_BIRTH',
       'GENDER1', 'ID_DOCUMENT', 'ps_lapse1', 'xx', 'ee', 'nbank', 'nloans'],
      dtype='object')

In [5]:
df.head()

,POLICY_NUMBER,PRODUCT_CODE,PREMIUM,INCOME,PAYMENT_MODE,STATUS,STATUS_DATE,COMMENCEMENT_DATE,TERM,PAYFREQ,...,PAYPOINT_NAME,COMPANY_NAME,DATE_OF_BIRTH,GENDER1,ID_DOCUMENT,ps_lapse1,xx,ee,nbank,nloans
0,225870.0,A23,387.32,8415.0,ADD,ACT,17776,17776,10,12,...,Paypoint21,Comp95,35010,MALE,2,70.000000,0.400020,0.000002,4,3
1,183200.0,A1,195.53,6421.0,RSO,Act,17440,17440,99,12,...,Paypoint224,Comp121,35721,MALE,1,78.604371,0.939963,0.000007,1,9
2,237218.0,A23,100.00,1100.0,ADD,LAP,17045,16953,10,12,...,Paypoint202,Comp49,8988,MALE,1,78.604371,0.151496,0.000008,1,3
3,87997.0,A1,231.00,2616.0,ADD,ACT,18809,18809,99,12,...,Paypoint21,Comp19,3809,MALE,1,78.604371,0.611263,0.000013,2,2
4,279420.0,A1,107.66,4639.0,DSO,Act,17776,17776,99,12,...,Paypoint61,Comp121,8000,FEMALE,1,78.604371,0.871717,0.000016,5,7

In [8]:
df.dtypes

POLICY_NUMBER             float64
PRODUCT_CODE               object
PREMIUM                   float64
INCOME                    float64
PAYMENT_MODE               object
STATUS                     object
STATUS_DATE                 int64
COMMENCEMENT_DATE           int64
TERM                        int64
PAYFREQ                     int64
ID_DOCUMENT_CODE          float64
OCCUPATION_CODE           float64
PAYER_DATE_OF_BIRTH         int64
GENDER                     object
MARITAL_STATUS             object
TITLE                      object
INSURED_ID_DESCRIPTION      int64
OCCUPATION_DESC1           object
INSURED_DATE_OF_BIRTH       int64
INSURED_GENDER             object
INSURED_MARITAL_STATUS     object
INSURED_TITLE              object
PAYPOINT_NAME              object
COMPANY_NAME               object
DATE_OF_BIRTH               int64
GENDER1                    object
ID_DOCUMENT                 int64
ps_lapse1                 float64
xx                        float64
ee                        float64
nbank                       int64
nloans                      int64
dtype: object

In [9]:
df.isna().sum()

POLICY_NUMBER                 0
PRODUCT_CODE                  0
PREMIUM                       0
INCOME                      111
PAYMENT_MODE                  0
STATUS                        0
STATUS_DATE                   0
COMMENCEMENT_DATE             0
TERM                          0
PAYFREQ                       0
ID_DOCUMENT_CODE             49
OCCUPATION_CODE           15194
PAYER_DATE_OF_BIRTH           0
GENDER                        0
MARITAL_STATUS               99
TITLE                        42
INSURED_ID_DESCRIPTION        0
OCCUPATION_DESC1           6127
INSURED_DATE_OF_BIRTH         0
INSURED_GENDER                0
INSURED_MARITAL_STATUS     6113
INSURED_TITLE                38
PAYPOINT_NAME                 0
COMPANY_NAME                  0
DATE_OF_BIRTH                 0
GENDER1                       0
ID_DOCUMENT                   0
ps_lapse1                     0
xx                            0
ee                            0
nbank                         0
nloans                        0
dtype: int64

In [11]:
df.duplicated().sum()

np.int64(0)